__pycache__/
dut_tb/
NA/
tb_head/
tb_inter/
tb_layer/
tb_self/
tutorial/
unisims/
verilator/
vivado/
xsim.dir/
args.tcl
grade_board.csv
grade.csv
weights.bin
weights.json
*_temp.sv
*.pb
*.wdb
*.jou
*.log
*.txt
*_synth.sv
*_impl.sv
*.vcd
*.aux
*.fls
*.*xmk
*.gz
*.fst
*.fst.hier
*.out
*.mem
*.npy
data
data/
ibert
unisims
